extends ../layout

block content
    h1 #{t(title)}
    if books.length
        ul
        each book in books
            li
            a(href=`/book/${book.id}`) #{book.title} (#{t('book.title.summary')} #{book.summary || t('book.title.unknownSummary')}, #{t('book.title.isbn')} #{book.isbn || t('book.title.unknownISBN')}, #{t('home.author')} #{book.author.firstName + ' ' + book.author.familyName || t('author.title.unknownAuthor')})
    else
        p #{t('book.noBook')}
